<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="{{ r.title }}">
	<meta name="keywords" content="resume,cv,{{ r.name }}">
	<meta name="author" content="{{ r.name }}">
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="{{ template_name }}.css" rel="stylesheet">
	<title>{{ r.name }} — Resume</title>
</head>

<body>

    {% block body %}

	{% endblock %}

</body>

</html>
